 littleware.security.simplelogin {
    littleware.security.auth.server.PasswordDbLoginModule required;
   //littleware.security.auth.SimpleDbLoginModule required;
   //com.sun.security.auth.module.UnixLoginModule required;
 };
 
littleware.security.clientlogin {
    littleware.security.auth.ClientLoginModule 
             required
             acl_check="acl.littleware.everybody.read,acl.littleware.web.read"
            ;
    
 };